<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin View</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-user"></i></a>
  
  
  
  
        <div class="navigation">
          <ul class="menu">
            <div class="close-btn"></div>
            <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>

            {% if user.is_superuser %}
            <li class="menu-item">
                <a class="sub-btn" href="#">Admin <i class="fas fa-angle-down"></i></a>
                <ul class="sub-menu">
                    <li class="sub-item"><a href="{% url 'admin_post' %}">Create Post</a></li>
                    <li class="sub-item"><a href="{% url 'jobs' %}">Admin Management</a></li>
                </ul>
            </li>
          
            
            {% endif %}
            




            <li class="menu-item">
              <a class="sub-btn" href="#about">About</a>
             
            </li>
            <li class="menu-item">
              <a class="sub-btn" href="#">Profile <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu">
                <li class="sub-item"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="sub-item"><a href="{% url 'search_user' %}">Search Profile</a></li>
              
               
              </ul>
            </li>
            <li class="menu-item">
              <a class="sub-btn" href="#">News <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu">
                <li class="sub-item"><a href="{% url 'news' %}">News</a></li>
                <li class="sub-item"><a href="{% url 'jobs' %}">Job Hiring</a></li>
                <li class="sub-item"><a href="{% url 'events' %}">Events</a></li>
                
               
              </ul>
            </li>
            <li class="menu-item"><a href="{% url 'send_message' %}">Message</a></li>
          
            <li class="menu-item"><a href="#">Contact</a></li>
            <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        <div class="menu-btn"></div>
      </header>




<!-- Post form container -->
<div class="post-form-container" id="createpost">
    <h2>Create Post</h2>
    <form method="post" action="{% url 'post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="post-button">Post</button>
    </form>
</div>



</body>
</html>
