<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'regular_user_view' %}">Home</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'send_message' %}">Message</a>
            <a href="{% url 'search_user' %}">Search</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
    <h1>Profile</h1>
    <div class="container">
        <div class="profile-row">
            <div class="profile-picture">
                {% if profile_picture_url %}
                    <img src="{{ profile_picture_url }}" alt="Profile Picture">
                {% else %}
                    <p>No profile picture available</p>
                {% endif %}
            </div>
            <div class="profile-details">
               
                <div id="editMode" class="hidden">
                    <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ profile_form.as_p }}
                        <button type="submit" name="update_details">Update Profile Details</button>
                        <a href="{% url 'profile' %}"><button type="button">Cancel</button></a>
                    </form>
                </div>
                <div id="displayMode">
                    {% for field in profile_form %}
                        <p id="display_{{ field.name }}" class="details"><strong>{{ field.label_tag }}</strong> {{ field.value }}</p>
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value }}" class="hidden" id="edit_{{ field.name }}">
                    {% endfor %}
                </div>
                <button id="editButton" onclick="toggleEditMode()">Edit Profile Details</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
