<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-user"></i></a>
  
  
  
  
        <div class="navigation">
          <ul class="menu">
            <div class="close-btn"></div>
            <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="menu-item">
              <a class="sub-btn" href="#about">About</a>
             
            </li>
            <li class="menu-item">
              <a class="sub-btn" href="#">Profile <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu">
                <li class="sub-item"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="sub-item"><a href="{% url 'search_user' %}">Search Profile</a></li>
              
               
              </ul>
            </li>
            <li class="menu-item">
              <a class="sub-btn" href="#">News <i class="fas fa-angle-down"></i></a>
              <ul class="sub-menu">
                <li class="sub-item"><a href="{% url 'news' %}">News</a></li>
                <li class="sub-item"><a href="{% url 'jobs' %}">Job Hiring</a></li>
                <li class="sub-item"><a href="{% url 'events' %}">Events</a></li>
                
               
              </ul>
            </li>
            <li class="menu-item"><a href="{% url 'send_message' %}">Message</a></li>
          
            <li class="menu-item"><a href="#">Contact</a></li>
            <li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        <div class="menu-btn"></div>
      </header>
<div class="main">
    
    <div class="container">
        <h1>User Profile</h1>

        <div class="profile">
            {% if profile_picture_url %}
                <img src="{{ profile_picture_url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <p>No profile picture available</p>
            {% endif %}
            
            <!-- Debugging information -->
          
        </div>



        <div class="user-details">
            <label><strong>First Name:</strong> {{ viewed_user_profile.first_name }}</label><br>
            <label><strong>Middle Name:</strong> {{ viewed_user_profile.middle_name }}</label><br>
            <label><strong>Last Name:</strong> {{ viewed_user_profile.last_name }}</label><br>
            <label><strong>Strand:</strong> {{ viewed_user_profile.strand }}</label><br>
            <label><strong>Year Graduated:</strong> {{ viewed_user_profile.year_graduated }}</label><br>
        </div>

      
    </div> 
</div>
</body>
</html>
